* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #efefef;
}

nav {
  width: 100%;
  background-color: #181818;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
nav ul a {
  padding: 0.5rem 1.5rem;
  color: #efefef;
  text-decoration: none;
}
nav ul a:hover {
  background-color: #efefef;
  color: #181818;
}

section {
  background-color: #181818;
  margin: 1.5rem 2rem;
}

.hero {
  min-height: 85vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hero .hero-buttons {
  margin-top: 1rem;
}
.hero .hero-buttons a {
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  color: aqua;
}
.hero .hero-buttons a:hover {
  background-color: aqua;
  color: #181818;
}
.hero .hero-buttons a:active {
  color: rgb(2, 227, 227);
}

#about {
  min-height: 70vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
