* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #f0f0f0;
}

a {
  color: #9fdde0;
}

section {
  background-color: #181818;
  margin: 1.5rem 2rem;
  padding: 2rem;
}

h1, h2{
  padding-bottom: 0.5rem;
}
/* NAVBAR */
nav {
  width: 100%;
  height: 7vh;
  background-color: rgba(126, 223, 228, 0.9);
  position: fixed;
  top: 0;
  z-index: 100;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
nav ul a {
  padding: 0.6rem 1.5rem;
  color: #000000;
  text-decoration: none;
}
nav ul a:hover {
  background-color: rgba(145, 234, 239, 0.9);
}
nav ul a:active {
  background-color: rgba(165, 241, 245, 0.9);
}

/* MAIN */

/* INTRO */
.hero {
  margin-top: 4rem;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero .hero-buttons {
  margin-top: 1rem;
}
.hero .hero-buttons a {
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #8bdde1;
  color: #181818;
}
.hero .hero-buttons a:hover {
  border: 0.5px solid black;
  background-color: #93eff4;
  color: #181818;
}
.hero .hero-buttons a:active {
  background-color: #7be8ed;
}

/* ABOUT */
#about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* SKILLS */
#skills ul {
  margin-left: 1.5rem;
  list-style: none inside;
}
#skills h3 {
  margin-top: 1rem;
}

/* PROJECTS */
.all-projects {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
}

.all-projects .project-card {
  width: 250px;
  min-height: 200px;
  border: 1px solid #9fdde0;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-shrink: 0;
}
.all-projects .project-card a {
  border: 1px solid #9fdde0;
  border-radius: 10px;
  padding: 0.3rem;
  text-decoration: none;
  color: #9fdde0;
  width: 45%;
}
.all-projects .project-card a:hover {
  border: 1px solid #9beef3;
  background-color: #9fdde0;
  color: #181818;
}
.all-projects .project-card a:active {
  background-color: #7edfe4;
}

/* CONTACT */
#contact a {
  text-decoration: none;
}
#contact a:hover {
  text-decoration: underline;
}

/* FOOTER */
footer p {
  text-align: center;
  padding: 0.7rem;
  background-color: rgba(126, 223, 228, 0.9);
  color: black;
}
