* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #efefef;
}

a {
  color: aqua;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 8vh;
  background-color: #181818;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
nav ul a {
  padding: 0.5rem 1.5rem;
  color: #efefef;
  text-decoration: none;
}
nav ul a:hover {
  background-color: #efefef;
  color: #181818;
}

/* MAIN */
section {
  background-color: #181818;
  margin: 1.5rem 2rem;
  padding: 2rem;
}

/* INTRO */
.hero {
  margin-top: 4rem;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hero .hero-buttons {
  margin-top: 1rem;
}
.hero .hero-buttons a {
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
}
.hero .hero-buttons a:hover {
  background-color: aqua;
  color: #181818;
}
.hero .hero-buttons a:active {
  color: rgb(2, 227, 227);
}

/* ABOUT */
#about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* SKILLS */
#skills ul {
  margin-left: 2rem;
}

/* PROJECTS */
.all-projects {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
}

.all-projects .project-card {
  width: 250px;
  min-height: 200px;
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-shrink: 0;
}
.all-projects .project-card a {
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 0.3rem;
  text-decoration: none;
  color: aqua;
  width: 45%;
}
.all-projects .project-card a:hover {
  background-color: aqua;
  color: #181818;
}

/* CONTACT */
#contact a{
  text-decoration: none;
}
#contact a:hover{
  text-decoration: underline;
}